{% extends "base.twig" %}

{% block content %}
<!--Content-->
<h3></h3>
<div class="row content-wrap">
  <div class="large-9 columns">
    <!--Top 3 - Destaques-->
    <div class="row destaques">
      <div class="medium-4 columns">
        <a href="{{site.link}}" class="tiny button expand radius destaque">
          <i class="fa fa-users fa-2x"></i>
          <p>Fet Soci</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}" class="tiny button expand radius destaque">
          <i class="fa fa-calendar fa-2x"></i>
          <p>Agenda</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}" class="tiny button expand radius destaque">
          <i class="fa fa-home fa-2x"></i>
          <p>Lloga</p>
        </a>
      </div>
    </div>
    <section id="archive">
      <div class="row">
        <div class="large-12 columns blog-col">
        </br>
          <h3>{{title}}</h3>
          </br>
          <ul class="blog-list">
            {% for post in posts | slice(0,9) %}
            <li>
              <div class="blog-teasers">

                <div class="row">
                  <div class="medium-12 columns">
                    <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>

                    {% if post.thumbnail.src %}
                    <p class="tease-text">
                      <img src="{{post.thumbnail.src|resize(300, 300)}}" class="my-thumb-class" alt="Image for {{post.title}}" />{{post.get_preview(80,false,'Continua llegint')}}
                    </p>
                    {% else %}
                    <p class="tease-text">
                      {{post.get_preview(80,false,'Continua llegint')}}
                    </p>
                    {% endif %}
                  </div>

                </div> <br/>


                <div class="row">
                  <div class="medium-12 columns blog-teaser-foot">
                    <p>Publicat dins de:<span><div class="tags">
                      <ul class="tag-list">
                        {% for term in post.terms('tags') %}
                        <li><a href="{{term.link}}">{{term.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </div></span></p>
                  </div>
                </div>

              </div> <br/>
            </li>
            {% else %}
            <p>Ho sentim, però la pàgina que heu sol·licitat no s'ha trobat.</p>
            {% endfor %}
          </ul>

          <!--PAGINATION-->
          <div class="pagination-centered">
            <ul class="pagination" role="menubar" aria-label="Pagination">
              {% if pagination.prev %}
              <li class="arrow unavailable" aria-disabled="true"><a href="{{pagination.prev.link}}"  class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">&laquo;</a></li>
              {% endif %}
              {% for page in pagination.pages %}
              {% if page.link %}
              <li><a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a></li>
              {% else %}
              <li class="current"><a href="">{{page.title}}</a></li>
              {% endif %}
              {% endfor %}
              {% if pagination.next %}
              <li class="arrow"><a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </br>

        </div> <!--blog Col-->
      </div> <!--row-->
    </div>
    </section>
    <!--SideBar-->
    <aside class="small-12 large-3 columns">
      <div class="sidebar">
        <div class="widget">
          {{function('get_search_form')}}
          <div class="social">
            <p>Segueix l’actualitat</p>
            <ul>
              <a><li class="#"><i class="fa fa-rss-square fa-2x"></i></li></a>
              <a><li class="#"><i class="fa fa-twitter-square fa-2x"></i></li></a>
              <a><li class="#"><i class="fa fa-facebook-square fa-2x"></i></li></a>
              <a><li class="#"><i class="fa fa-envelope-square fa-2x"></i></li></a>
            </ul>
          </div>
          <br/>
          <div class="horari">
            <p>Horari secretaria<br/><span class="info">
              Dilluns a Dijous de 18 a 21h<br/>
              (divendres no hi ha atenció al públic)<br/>
              C/ Sant Joan nº 1<br/>
              Telf: 93.588.33.77<br/>
              Mail: info@crac.cat </span>
            </p>
          </div>
        </div>

        {{widgets}}
      </div>
    </aside>
  </div>
{% endblock %}
