<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<html>
<head>
  <meta charset="{{site.charset}}">
  <title>{{wp_title}}</title>
  <meta name="description" content="{{site.description}}">
  <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Oxygen' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="{{site.pingback_url}}">
  {{function('wp_head')}}
  <script src="{{site.theme.link}}/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

  <div class="row header-wrap">
    <div class="large-12 columns">

      <!-- ----------- HEADER -------------- -->
      <header>

        <div class="branding">
          <a href="{{site.url}}"><h1>{{site.title}}</h1></a>
          <p class="hide-for-small-only">{{site.description}}</p>
          <hr/>
          <img src="{{function('header_image')}}" alt="" />
        </div>

      </header>
      <!-- -----------TOP BAR-------------- -->

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><h5><a href="#"></a></h5></li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <!-- -----------RIGHT NAV SECTION -------------- -->
          <ul class="left">
            {% for item in menu.get_items %}
            <li class="{{item.classes | join(' ')}} {% if item.get_children %}has-dropdown{% endif %}">
              <a href="{{item.get_link}}">{{item.title}}</a>
              {% if item.get_children %}
              <ul class="dropdown">
                {% for child in item.get_children %}
                <li class="active"><a href="{{child.get_link}}">{{child.title}}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </section>
      </nav>

    </div>
  </div>
  {% block content %}

  {% endblock %}

  <!-- ----------- FOOTER -------------- -->
  <div class="row footer-wrap">
    <div class="large-12 columns">
      <footer id="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    </div>
  </div>


  <script src="{{site.theme.link}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{site.theme.link}}/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{site.theme.link}}/js/app.js"></script>
  <script src="{{site.theme.link}}/js/site.js"></script>
</body>
</html>
