{% extends "base.twig" %}

{% block content %}
<div class="row content-wrap">
  <div class="large-9 columns">

    <!-- -----------TOP 3 - DESTAQUES -------------- -->
    <div class="row destaques">
      <div class="medium-4 columns">
        <a href="{{site.link}}/associat" class="tiny button expand radius destaque">
          <i class="fa fa-users fa-2x"></i>
          <p>Fet Soci</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}/agenda" class="tiny button expand radius destaque">
          <i class="fa fa-calendar fa-2x"></i>
          <p>Agenda</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}/us-sales" class="tiny button expand radius destaque">
          <i class="fa fa-home fa-2x"></i>
          <p>Lloga</p>
        </a>
      </div>
    </div>
    <!-- -----------COLUMNA PAGE-------------- -->
    <div class="row">
      <div class="large-12 columns">
        <article class="post-type-{{post.post_type}} blog-teasers" id="post-{{post.ID}}">
          <section class="article-content">
            <h1 class="article-h1">{{post.title}}</h1>

            <div class="article-body">
              {{post.content}}
            </div>
          </section>
          <div class="row single-foot">
          <div class="small-12 columns share">
              {{ function('kc_add_social_share') }} <!--social sharing plugin-->
          </div>
        </div>
        </article>

      </div>
    </div>
  </br>
</div>



<!-- ----------- SIDEBAR -------------- -->
<aside class="small-12 large-3 columns">
  <div class="sidebar">
    {{widgets}}
  </div>
</aside>

</div>
{% endblock %}
