{% extends "base.twig" %}

{% block content %}
<!-- ----------- CONTENT -------------- -->
<div class="row content-wrap">
  <div class="large-9 columns">
    <!-- -----------TOP 3 - DESTAQUES -------------- -->
    <div class="row destaques">
      <div class="medium-4 columns">


        <a href="{{site.link}}/associat" class="tiny button expand radius destaque">
          <i class="fa fa-users fa-2x"></i>
          <p>Fet Soci</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}/agenda" class="tiny button expand radius destaque">
          <i class="fa fa-calendar fa-2x"></i>
          <p>Agenda</p>
        </a>
      </div>
      <div class="medium-4 columns">
        <a href="{{site.link}}/us-sales" class="tiny button expand radius destaque">
          <i class="fa fa-home fa-2x"></i>
          <p>Lloga</p>
        </a>
      </div>
    </div>

  </br>

  <!-- -----------COLUMNA POSTS-------------- -->

  <!--previous and nex post -->
  <div class="row">
    <div class="large-12 columns">
      <div class="soft-detail">
        <a class="left" href="{{post.prev.link}}">
          <p><span class="hide-for-small-only">
            <i class="fa  fa-long-arrow-left"></i>
            {{post.prev.title}}</span> <span class="show-for-small-only">
              <i class="fa  fa-long-arrow-left fa-2x"></i></span>
            </p>
          </a>

          <a class="right" href="{{post.next.link}}">
            <p><span class="hide-for-small-only">{{post.next.title}}
              <i class="fa  fa-long-arrow-right"></i>
            </span> <span class="show-for-small-only"><i class="fa  fa-long-arrow-right fa-2x"></i></span></p>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns blog-col">

        <!-- ----------- SINGLE -------------- -->
        <div class="single">

          <section class="article-content">
            <h2 class="article-h2">{{post.title}}</h2>
            <div class="article-body">
              {{post.content}}
            </div>
          </section>

          <div class="row single-foot">
            <div class="small-12 medium-6 columns">

              {% if post.terms('categories') %}
              <div class="taxonomia">
                <p class="soft-detail">Publicat dins de:</p>
                <ul class="categories-list">
                  {% for term in post.terms('categories') %}
                  <li><a href="{{term.link}}">{{term.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              {% endif %}

              {% if post.terms('tags') %}
              <div class="taxonomia">

                <p class="soft-detail">Etiquetat com a:</p>
                <ul class="tag-list">
                  {% for term in post.terms('tags') %}
                  <li><a href="{{term.link}}">{{term.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              {% endif %}
            </div>
            <div class="small-12 medium-6 columns share">
              {{ function('kc_add_social_share') }} <!--social sharing plugin-->
            </div>

          </div>
        </div>

      </div>
    </div>
    <br/>

    <!-- -----------COMENTARIS-------------- -->

    <section>
      {{function('comments_template')}}
    </section>

  </div>  <!-- FIM 9 COLUMN -->


  <!-- ----------- SIDE BAR -------------- -->
  <aside class="large-3 columns">
    <div class="sidebar">
      {{widgets}}
    </div>
  </aside>

</div> <!-- /content-wrapper -->

{% endblock %}
